services:
  leadfusion-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leadfusion-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
